
{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav Jha</title>
    <link href="{% static '/css/main.css' %}" rel ="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class ="row">
            <div class="col-md-3">
                <div class ="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/gaurav.jpeg' %}" >
                    <hr>
                    <h4>Hi I am Gaurav!</h4>
                    <p>I am a computer science geek and loves solving problems.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class ="card card-body h-100 border-info">
                <h4>ABOUT</h4>
                <hr>
                <p>Gaurav Kumar Jha is a backend developer and currently Studying in Third Year of Bachelor of Technology degree from Haldia Institute Of Technology,W.B. </p>

                <p>He is a Quick learner and a hard-working team person.<br> He has always done his work with full dedication. </p>

                <p>He can Grasp new responsibilites and things in no time.</p>
                <p>He is open to all forms of tech stack and do not want to restrict himself by sticking to a single platform in this fast and ever growing world of software development.</p>


                <ul class="social-links">
                    <li><img class="social" src ="{% static 'images/gmail.png' %}"></li>
                    <li><a href="{% static 'linkedin.com/in/gaurav-kumar-jha-b27476167/' %}"><img class="social" src ="{% static 'images/linkedin.png' %}"></a></li>
                    <li><img class="social" src ="{% static 'images/twitter.png' %}"></li>

                </ul>
                </div>
            </div>
        </div>
        <br>

        <div class ="row">
            <div class="col-md-6">
                <div class ="card card-body h-100">
                    <h5>Trainings and Projects</h5>
                    <hr>
                    <p>Training on Data analysis with Python at NIVT Skills. </p>
                    <p>In-House winter Training on Python and DBMS</p>
                    <h5>PROJECTS:</h5>
                    <ul>
                        <li>Built a Qwiz app with python and backend API</li>
                        <li>Built a Yatra-app widthhich gives the train routes of the entered train number by fetching data from backend API </li>
                        <li>Built a simple TO-DO app in javaScript</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class ="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Skilled in Python,Core Java,Django,Html/CSS,javaScript,DBMS</p>
                    <p>Have got some expirence in front-end as-well with frontend javaScript and React.</p>

                    <p>P.S: Working on MERN stack.</p>
                </div>
            </div>
        </div>
        <br>
        <div class ="row">
            <div class="col-md-6">
                <div class ="card card-body h-100">
                    <h5>How I Learn </h5>
                    <hr>
                    <p>Reverse Engineer and build ugly Prototypes First.</p>

                    <p>I can learn about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a REFERENCE.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class ="card card-body h-100">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>After almost three years of supporting my system and doing my education i am in final year of my college life and i am ready to learn something new. I Love collaborating and shring my experience with others at different social media  platforms.</p>

                    <p>Aside from building small projects I would love to enter a position where I can be a part of a bigger team and learn from others with more experience than myself. </p>
                </div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>