body{
	background-color:#FFC300!important;

}

div>div>div{
    cursor: default;
    border-color:#571845;
}

#profile-wrapper{
	text-align: center;
}


#profile-pic{
    max-width:100%;
	max-height:auto;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

hr{
    background-color:#FFC300;
}





h6{
    color:#FFC300;
}

h4{
    color:#FFC300;
}
h5{
    color:#FFC300;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;

}

.social{
    border: 2px solid #FFC300;
    border-radius:50%;
	width:40px;
	background-color:#FFC300;
	height: 40px;
    margin:10px;
    animation: image 5s infinite ;
}

ul{
	padding: 0;
    list-style-type: none;
}

img{
    	animation: image 20s infinite ;
}

@keyframes image {
  0%   { transform: rotate(0deg)}
  25%  { transform: rotate(26deg)}
  50% { transform: rotate(-26deg)}
  75% { transform: rotate(26deg)}
  100% { transform: rotate(0deg)}
}

.wrapper1{
  animation: example1 40s infinite ;
/animation-duration: 25s;/

 background-color:#FF5733;border-color:#571845;

}

@keyframes example1 {
  0%   { transform: rotate(7deg)}
  25%  { transform: rotate(0deg)}
  50% { transform: rotate(-5deg)}
  75% { transform: rotate(0deg)}
  100% { transform: rotate(7deg)}

}

.wrapper2{
  animation: example2 50s infinite ;


}

@keyframes example2 {
  0%   { transform: rotate(-7deg)}
  25%  { transform: rotate(0deg)}
  50% { transform: rotate(5deg)}
  75% { transform: rotate(0deg)}
  100% { transform: rotate(-7deg)}
}



div>div>div:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;

  z-index: 1;
}